extends ./layout

block content
  .container
    .row
      .span6.offset3.well
         legend Data-Reset 
         p I hope you know what you're doing!
         a.btn.btn-large.btn-block.btn-danger(href="/data/purge") Purge All Data
         br
         br
         a.btn.btn-large.btn-block.btn-warning(href="/data/loadtest") Load Test Data


