extends layout

block content
  .container
    .row
      .span4
        .display-item
          .display-item-label Data 
          p Status Info 

      .span4
        .display-item
          .display-item-label Pending Orders 
          p More Status Info 
     
      .span4
        .display-item
          .display-item-label Staff Messages 
          p Even More Status Info 
