extends ../layout

block content
  .container
    .page-header 
      h2 Checkout: Receipt 
    .row-fluid
      .span12.well
        Legend Order Complete
        p Your order receipt is: #{receipt} 
        p.muted (please keep a copy for your records)

  




            

      
